<template>
  <div>
    <div class="loading" v-if="loading">Loading&#8230;</div>
    <h1>{{ free }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <!-- <li><router-link :to="{name:'About'}">Cart Page</router-link></li> -->
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <!-- <li><router-link :to="{name:'Home'}">Cart Page</router-link></li> -->
    </ul>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      loading: true,
      free: 'About to Your Vue.js + Django App'
    }
  },
  mounted(){
     this.loading=false;
     console.log('mounted')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
