<template>
    <div>
    <loading-component v-if="loading"></loading-component>
         <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Page Not Found</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li>
        <router-link :to="{name:'Home'}"><i class="fa fa-home"></i>Home</router-link>
              </li>
          <li><span>404: Page count not be found</span></li>
        </ul>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
