<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>airteltravel</title>
    <link rel="stylesheet" href="/static/dist/sweetalert.css">
    <script src="/static/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div id="app">
    {% block 'content' %}
        

    {% endblock %}
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
